.dropdown-hidden {
display: flex;
    position: absolute;
    visibility: hidden;
}
.dropdown-visible {
    display: flex;
    flex-direction: row;
    gap: 7px;
    visibility: visible;
}

.DropDown-wrap{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.data{
    height: 24px;
    padding: 0 5px;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    border: 1px solid black;
    color: black;
    background: azure;
}

.DropDown-wrap-button{
    height: 24px;
    padding: 0 5px;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    border: 1px solid black;
    color: black;
    background: azure;
}