.comeIn__cards {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}
.comeIn__cards_inputs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 30px;
}
.Authorization_content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.comeIn__cards__card__title {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.comeIn__cards__card {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.comeIn__cards__card-logo {
    font-size: 35px;
    letter-spacing: 1px;
}
.comeIn__cards__card__title-text {
    color: rgba(161, 171, 185, 1);
    letter-spacing: 2px;
}
.comeIn__cards__card__title-input {
    width: 480px;
    height: 55px;
    padding: 0 20px;
    font-size: 25px;
    border-radius: 20px;
    background: whitesmoke;
}
.comeIn__cards__card__title-hr {
    margin: 0;
    max-width: 500px;
    height: 2px;
}
.comeIn__cards__card__icons {
    max-width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.comeIn__cards__card__icons-button {
    padding: 10px 40px;
    border-radius: 15px;
    font-size: 20px;
    cursor: pointer;
    border: 1px solid black;
    color: black;
    background: azure;
}
.comeIn__cards__card__icons-button:hover {
    background: rgb(199, 255, 255);
}

.comeIn-img {
    max-width: 300px;
}
.comeIn-img3 {
    max-width: 600px;
    height: 350px;
    border-radius: 10px;
}
.comeIn-click {
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.comeIn__cards_rule_true {
    margin-top: 96px;
    padding: 10px 15px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
}

.comeIn__cards_rule-text-indicator_true {
    background: rgb(0, 0, 0);
    width: 15px;
    height: 15px;
    border-radius: 100%;
}

.comeIn__cards_rule {
    margin-top: 96px;
    padding: 10px 15px;
    border: 2px solid rgb(255, 0, 0);
    border-radius: 20px;
    transition: 150ms;
}

.comeIn__cards_rule-text-indicator {
    background: red;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    transition: 150ms;
}

.comeIn__cards_rule {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}
.comeIn__cards_rule_true {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.comeIn__cards_rule-text {
    font-weight: 100;
}
@media screen and (max-width: 840px) {
    .comeIn__cards_inputs {
        flex-direction: column;
        margin-top: 0;
        gap: 0px;
    }

    .comeIn__cards_rule_true {
        margin-top: 10px;
    }
}
@media screen and (max-width: 375px) {
    .comeIn__cards__card__title-input {
        width: 220px;
    }
}
