.add_product {
    padding: 20px 0;
}
.add_product_content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 100%;
}

.add_product_content_inf_inputs-input {
    width: 280px;
    height: 20px;
    padding: 0 20px;
    font-size: 15px;
    border-radius: 5px;
    background: whitesmoke;
}

.add_product_content_inf {
    display: flex;
    flex-direction: column;
    gap: 6px;
    border: 1px solid rgb(196, 196, 196);
    border-radius: 10px;
    padding: 10px;
}

.add_product_content_inf_inputs-button {
    width: 150px;
    height: 24px;
    padding: 0 20px;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    border: 1px solid black;
    color: black;
    background: azure;
}

.add_product_content_inf_inputs-text {
    font-size: 18px;
}

.add_product_content_inf_inputs {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.add_product_content_inf_inputs_adding {
    gap: 10px;
    display: flex;
    flex-direction: row;
}

.add_product_content_inf_inputs_adding-color {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.add_product_content_inf_inputs_color {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.add_product_content_inf_inputs_adding-storage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.add_product_content_inf_inputs_storage {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.add_product_content_inf_inputs_adding-type {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.add_product_content_inf_inputs_type {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.add_product_content_inf-add-button {
    margin-top: 10px;

    padding: 10px 40px;
    border-radius: 10px;
    align-self: center;
    font-size: 15px;
    cursor: pointer;
    border: 1px solid black;
    color: black;
    background: azure;
}

.add_product_content_check-rule {
    font-size: 25px;
}

.add_product_content_check_content_marks-rule {
    font-size: 25px;
}

.add_product_content_check {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border: 1px solid rgb(201, 201, 201);
    border-radius: 10px;
}

.add_product_content_check_content_marks {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.add_product_content_check_content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.add_product_content_check_content_marks_mark {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.add_product_content_check_content-text {
    font-size: 17px;
    padding: 5px 10px;
    font-weight: 100;
    border-bottom: 2px solid rgb(255, 0, 0);
}

.add_product_content_ex,
.add_product_content_inf,
.add_product_content_check {
    flex: 1;
    height: auto;
}

.add_product_content_block{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

@media screen and (max-width: 1024px) {
    .add_product_content {
        flex-direction: column;
    }
    .add_product_content_block{
        flex-direction: row;
        gap: 10px;
    }
}

@media screen and (max-width: 767px) {
 
    .add_product_content_block{
        flex-direction: column;
        gap: 10px;
    }
}
